/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
html {
    height: 100%;
}
body {
    font-family: 'Heebo', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
    ul[class],
    ol[class] {
        list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

.none {
    display: none;
}

/* works */
.work {
    padding: 70px 0px 53px 0px;
}
.page__works {
    padding: 24px 0px 83px 0px;
}
.works__header {
    margin-bottom: 22px;
}
.works__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}
.work__item-inner {
    display: flex;
    flex-direction: column;
}
.work__item-inner::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #E0E0E0;
    margin-top: 48px;
}
.work__item {
    display: flex;
    align-items: center;

    margin-top: 31px;
    margin-bottom: 15px;
}
.work__item:last-child {
    margin-bottom: 0;
}
.work__image {
    margin-right: 18px;
}
.work__image img {
    border-radius: 6px;
}
.work__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
    transition: color 0.3s ease;

    margin-bottom: 9px;
}
.work__title:hover {
    color: #5565fc;
}
.work__info {
    display: flex;
    align-items: center;
    
    margin-bottom: 16px;
}
.work__data {
    min-width: 62px;
    height: 25px;
    font-weight: 900;
    font-size: 18px;
    color: #FFFFFF;
    background: #142850;
    border-radius: 16px;
    text-align: center;

    margin-right: 26px;
}
.work__program {
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}
.work__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}
@media (max-width: 767.98px) {
    .works__header {
        text-align: center;
    }
    .work__image{
        display: none;
    }
    .work__item {
        flex-direction: column;
        justify-content: center;
    }
}
/* // works */

/* footer */
.footer {
    padding: 50px 0px;
}
.footer__content {
    text-align: center;
}
.footer__icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 26px;
}
.footer__icons-link {
    margin-right: 35px;
}
.footer__icons-link:last-child {
    margin-right: 0;
}
.footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #21243D;
}
/* // footer */


/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
[class*="__container"]{
    max-width: 886px;
    padding: 0px 15px 0px 15px;
    margin: 0px auto;
}
#page {
    flex: 1 0 auto;
}
#foooter {
    flex: 0 0 auto;
}
/* header */
.header {
    background-color: #fff;
}
.header__container {
    display: flex;
    justify-content: end;
    align-items: center;
    min-height: 60px;
}
.menu__icon {
    display: none;
}
.menu__list {
    display: flex;
    align-items: center;
}
.menu__item {
    margin-right: 33px;
    padding-bottom: 6px;
}
.menu__item:last-child {
    margin-right: 0;
}
.menu__link {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    text-decoration: none;
    padding-bottom: 5px;

    transition: all 0.2s ease;
}
.menu__link:hover {
    border-bottom: 3px solid #000;
}
@media (max-width: 425px) {
    .menu {
        position: fixed;
    }
    .menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu__list > li {
        padding: 10px 0;
    }
    .menu__icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after   {
        left: 0;
        position: absolute;
        height: 10%;    
        width: 100%;
        transition: all 0.3s ease;
        background-color: #000;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: "";   
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .menu__body {
         position: fixed;
         left: -100%;
         width: 100%;
         height: 100%;
         overflow: auto;
         background-color: #000000;
         opacity: 0.9;

         padding: 120px 30px 30px 30px;
         transition: all 0.3s ease;
    }
    .menu__body._active {
        left: 0;
    }
    .menu__body::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 60px;
        background-color: #fff;
    }
    .menu__list > li {
        margin: 0 0 30px 0;
    }
    .menu__list > li:last-child {
        margin-bottom: 0;
    }
    .menu__link {
        color: #fff;
        font-size: 33px;
    }
}
/* // header */

/* welcome */
.page__welcome {
    padding: 100px 0px;
}
.welcome__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.welcome__content {
    flex: 0 1 60%;
}
.welcome__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;

    margin-bottom: 40px;
}
.welcome__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;

    margin-bottom: 40px;
}
.welcome__image {
    max-width: 243px;
    max-height: 243px;
}
.welcome__image img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.welcome__button {
    display: inline-block;
    background: #FF6464;
    border-radius: 2px;

    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    color: #FFFFFF;
    transition: all 0.3s ease;

    padding: 12px 21px;
}
.welcome__button:hover {
    background: #ff2424;
}
@media (max-width: 767.98px) {
    .page__welcome {
        padding-top: 33px;
        padding-bottom: 40px;
    }
    .welcome__container {
        display: flex;
        flex-direction: column-reverse;
    }
    .welcome__content {
        text-align: center;
    }
    .welcome__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: #21243D;
        text-align: center;

        margin-top: 33px;
        margin-bottom: 25px;
    }
    .welcome__text {
        margin-bottom: 25px;
    }
    .welcome__image {
        margin: auto;
    }
}
@media (max-width: 919.98px) {
    .page__welcome {
        padding-top: 60px;
    }
}
/* // welcome */

/* posts */
.page__posts {
    background-color: #EDF7FA;

    padding: 24px 0px 45px 0px;
}
.posts__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 22px;
}
.posts__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
}
.posts__view-all {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;
    text-decoration: none;
    transition: all 0.3s ease;
}
.posts__view-all:hover {
    color: #212974;
}
.post__column {
    display: flex;
    flex-wrap: wrap;
}
.post__item {
    flex: 0 1 418px;
    min-height: 295px;
    

    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;

    padding: 24px;
    margin-right: 19px;
    margin-bottom: 20px;
}
.post__item:nth-child(2n) {
    margin-right: 0;
}
.post__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
    transition: all 0.3s ease;

    margin-bottom: 17px;
}
.post__title:hover {
    color: #5565fc;
}
.post__info {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #21243D;
    
    margin-top: 30px;
    margin-bottom: 12px;
}
.post__info span {
    margin-left: 26px;
    margin-right: 26px;
}
.post__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #21243D;
}
@media (max-width: 390.98px) {
    .post__info {
        font-size: 12px;
    }
}
@media (max-width: 334.98px) {
    .post__title {
        font-size: 23px;
    }
}
@media (max-width: 767.98px) {
    .post__container {
        padding-top: 15px;
    }
    .posts__header {
        flex-direction: column;

        margin-bottom: 0px;
    }
    .posts__view-all {
        display: none;
    }
    .post__column {
        flex-direction: column;
    }
    .post__item {
        margin: 0px 0px 20px 0px;
    }
    .post__item:last-child {
        margin-bottom: 0px;
    }
}
@media (max-width: 884.98px) {
    .post__column {
        justify-content: space-between;
    }
    .post__item {
        flex: 0 1 365px;
    }
    
}
@media (max-width: 909.98px) {
    .post__container {
        padding: 24px 15px 0px 15px;
    }
}
/* // posts */